body {
    margin: 0;
    width: 100%;
}

.view-btn,
#sortPrice {
    cursor: pointer;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    min-height: 90vh;
    padding-bottom: 70px;
}

.book{      
    padding: 0 5px;
}

.book-img img{
    margin: 5px ;
}

.view-btn {
    height: 35px;    
    min-width: 90px;    
    font-weight: 600;
    font-size: 13px;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 7px;   
    margin: 2px;
}

#sortPrice{
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
    margin:3px 10px ;
    height: 40px;
    background-color:#f0f0f0 ;
}
.book-img{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button { 
  border-radius: 25px; 
  cursor: pointer;  
}

.price-block-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    border-radius: 5px;
    padding: 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: -1; 
} 

  .cart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #36f4e4; 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }  

  .reset-button{
    color: black;
    border-radius: 5px;
    margin:3px 3px ;
    padding: 1px 8px;
    cursor: pointer;
    border: none;
  }

  .filter-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-width: 400px;
  }
  
  .filter-window h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .filter-window div {
    margin-bottom: 10px;
  }
  
  .filter-window label {
    display: block;
    margin-bottom: 5px;
  }
  
  .filter-window select,
  .filter-window input[type="checkbox"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .filter-window button {
    display: block;
    background-color: #0074D9;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
    
  .book{
    flex-wrap: wrap;    
  }
  
  .widhtblock{
    width: 390px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .book-size{
    position:absolute;
    bottom: 50px;
    right: 1px;
    background-color: #f0f0f0;   
    border-color: #333;
    padding: 1px 0 1px 3px;
    justify-content: center;
    align-items: center;    
    color: black;
    display: flex;
    opacity: 0.8;
    border-radius: 5px 0 0 5px;
  }
  .book-id{
    position:absolute;   
    left:  0;
    background-color: #f0f0f0;   
    border-color: #333;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    color: black;    
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 5px 5px 0;
  }
  
  .color-size{
    bottom: 10px;
    right: 0;
  } 

  .sort-button:focus {    
    outline: none;
  }
  
  .selected-button{   
    margin: 2px 5px 2px 5px;
    padding: 3px 5px 3px 5px;
    border-radius: 7px;
    font-size: large;
    cursor: pointer;
    border: 0px;
    display: flex;    
    align-items: center
  }

  .selected {
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;   
    border: 2px solid;
    padding: 5px 10px;
    background-color: #f0f0f0;   
    color: black;    
    transform: scale(1.03); 
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);     
    font-size: larger;
    margin: 5px;
  }  

  .dark .cancel-button .select{
    border-radius:20px;
  }

  .cancel-button{
    height: 30px;
    width: 30px;
    padding: 1px;    
    cursor: pointer;
  }

  .sort-button {
    cursor: pointer;
  }

  img.cancel-button.select {
    border-radius: 50%;
  }  

  .selected-tags{
    display: flex;
    flex-wrap: wrap;
  }
  .no-markers {
    list-style-type: none;
    margin: 2px 5px 2px 5px;
    padding: 2px 5px 2px 5px;
    cursor: pointer;
  }

  li{
    margin: 12px 5px 12px 5px;
    padding: 2px 5px 2px 5px;
    font-size: large;
  }

  .shelf-element{
    display: flex;
    height: min-content;
    margin: 5px 0px;
  }

  .book-conteiner{   
   width: 200px;
  }

  .book-conteiner-width{
    width: 180px;
  }

  .view-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .name-block{
    width: 280px;
  }

  .name-block-width{
    width: 300px;
  }

  .circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 5px;
  }

  .widthart {
    width: 180px;
    height: 240px;
    object-fit: cover;
    margin-right: 5px;
  }

  .widthartwidth {
    width: 200px;
    height: 200px;
    object-fit: fill;
    margin-right: 5px;
  }

  .widthname-block {
    width: 180px;
  }

  .widthname-block-width {
    width: 200px;
  }

  .pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    padding-bottom: 90px;
    align-items: baseline;
  }

  .active-page{
    border: 2px solid;
    border-radius: 50%;
    padding: 4px 9px;
  }

  .page-button{
    margin: 15px;
    cursor: pointer;
  }
  
  .section-list h3{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    width: 350px;
  }  
  
  p.book-text {
    margin: 5px 1px;
  }

  p.book-name {
    margin: 1px 0px 5px;
}

  span#price, span#totalPrice {
    font-weight: bold;
    color: #b29c18;
}

.betwin{
  justify-content: space-between;
}

/* .sectionGrup{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 5px 10px;
} */

.light .sectionGrup{
  background-color: var(--modal-bg);  
}

.dark .sectionGrup{
  background-color: var(--dark-background);  
}

.sizecolor{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1px 0 3px;  
  border-radius: 5px; 
  border: 2px solid;  
}

.noborderleft{
  border-left: none;
  border-radius: 0 5px 5px 0;
  margin: 1px;
  padding: 1px 5px;
}

.noborderright{
  border-right: none;
  border-radius:  5px 0 0 5px;
}

.filters-slider-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

/* new */
button{
  border: none;
  cursor: pointer;
}

section.container {
  display: flex;
  flex-wrap: nowrap;
}

/* Adaptability */
@media (max-width: 800px) {
  section.container {
    flex-wrap: wrap;
  }
}

section.sectionGrup {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  /* padding: 10px;   */
  border-radius: 7px;
  overflow-y: auto;
  height: fit-content;
  width: max-content;
  min-width: fit-content;
}

.sectionBookList {
  flex-wrap: wrap;
  display: flex;  
}

.sectionFilter {
  max-width: 380px;
}


.filters{
  flex-wrap: wrap;   
  display: flex;    
  padding: 10px ;  
  align-items: center;
  transition: padding 0.3s ease;
}

.active {
  border: 2px solid;
  border-radius: 17px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin: 2px;
  font-size: larger;
  font-weight: bold;  
}

.active-border {
  border: 2px solid;
  border-radius: 7px;
}

.container-section { 
  width: 380px; 
  border-bottom: 2px solid;  
}

.dark .select { 
  opacity: 0.6;  
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
  /* box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3); */
  filter: invert(1);  
} 

.back-button {
  height: 50px;
  margin: 5px;
  cursor: pointer;  
}

.artmini {
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.highlighted {
  border: 2px solid ;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  overflow: hidden;
  height: 70px;  
  margin: 5px;  
}

label.filters {
  cursor: pointer;
}

.social-icon {
  font-size: 0.9em;
  color: #333;
  text-decoration: none;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}

.toggle-icon {
  transform: rotate(180deg);
}

.toggle-icon.rotated {
  transform: rotate(360deg); 
}

.no-found {
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

.partition-list li {
  padding: 7px 25px;
}

.section-sections h3 {
  padding: 5px;
  margin: 5px 15px;
  width: auto;
}



/* Basic Styles */
:root {  
  --header-bg: #c2dcb242;
  --background: #edf1e4e3;
  --text: #333333;
  --button-bg: #008cba;
  --button-text: #ffffff;  
  --modal-bg: #e2eade;
  --modal-text: #333333;   
  --button-background-size: cover; 
  --button-background-position: center;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --main-circle-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --gradient: linear-gradient(to bottom, #323272, #4444c3, #a8a8dc, #5151cd);

  --dark-header-bg: #333333;
  --dark-background: #121212;
  --dark-text: rgba(202, 198, 191, 0.87);
  --dark-button-bg: #444444;
  --dark-button-text: #f5f5f5;
  --dark-modal-bg: #333333; 
  --dark-modal-text: rgba(202, 198, 191, 0.87);
  --dark-box-shadow: 0 4px 8px rgba(15, 233, 171, 0.6);
}

.light-theme {
  background-color: var(--background);
  color: var(--text);
  border-radius: 50%;
  border: 5px solid var(--background);
  margin: 3px 10px;
}

.dark-theme {
  background-color: var(--dark-background);
  color: var(--dark-text);
  border-radius: 50%;
  border: 5px solid var(--dark-background);
  margin: 3px 10px;
}

.light {
  background-color: var(--background);
  color: var(--text);
}

.dark {
  background-color: var(--dark-background);
  color: var(--dark-text);
}
