.floating-share-button {
  display: inline-block;
    position: fixed;
    bottom: 200px;
    right: 1px;
    border-radius: 10px;
    z-index: 1;
}

.dark .floating-share-button {
  background-color: var(--dark-background);
  color: var(--dark-text);  
 }

.light .floating-share-button {
  background-color: var(--background);
  color: var(--text);   
 }

.share-main-button {   
  border: 2px solid;
  border-radius: 17px;
  padding: 5px;
  cursor: pointer;
  /* transition: transform 0.3sease-in-out; */
  margin: 5px;
}

.share-options {
  position: absolute;
  bottom: 60px;
  right: 1px;  
  border: 1px solid; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.dark .share-options {
  background-color: var(--dark-background);
  color: var(--dark-text);    
 }

.light .share-options {
  background-color: var(--background);
  color: var(--text); 
 }

.option-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}