.floating-share-button {
    display: inline-block;
    position: fixed;
    bottom: 200px;
    right: 5px;
    border-radius: 0 7px 7px 0;    
}

.dark .floating-share-button {
  background-color: var(--dark-background);
  color: var(--dark-text);  
 }

.light .floating-share-button {
  background-color: var(--background);
  color: var(--text);   
 }

.share-main-button {   
  border-radius: 17px;
  cursor: pointer;  
  padding: 2px 0 0 0;
  margin: 0;
  border: none;
}

.share-options {
  position: absolute;
  bottom: 60px;
  right: 1px;  
  border: 1px solid; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.dark .share-options {
  background-color: var(--dark-background);
  color: var(--dark-text);    
 }

.light .share-options {
  background-color: var(--background);
  color: var(--text); 
 }

.option-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contener .share-options {
  right: auto;
  left: 1px;
}
.contener .floating-share-button { 
  position: relative; 
  bottom: 150px;
  border-radius: 0 7px 7px 0;
}

.about .floating-share-button {
  position: fixed;
  left: 10px;  
  right: auto;
  z-index: 100;  
}