.floating-share-button {
  display: inline-block;
    position: fixed;
    bottom: 120px;
    right: 1px;
    border-radius: 10px;
    z-index: 1;
}

.dark .floating-share-button {
  color: rgba(202, 198, 191, 0.87);
  background-color: rgb(27, 29, 30);    
 }

.light .floating-share-button {
  background-color: #f0f0f0;
  color: #333;    
 }

.share-main-button {   
    align-items: center;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.share-options {
  position: absolute;
  bottom: 60px;
  right: 1px;  
  border: 1px solid; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.dark .share-options {
  color: rgba(202, 198, 191, 0.87);
  background-color: rgb(27, 29, 30);    
 }

.light .share-options {
  background-color: #f0f0f0;
  color: #333;    
 }

.option-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


