.banner-slider-container {
    position: relative;
    width: 100vw;
    /* max-width: 600px; */
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    border:1px solid;
    box-shadow: var(--dark-box-shadow);
  }
  
  .banner-slider-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    transition: transform 0.5s ease-in-out;
  }
  
  .banner-slider-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border-radius: 15px; */
    animation: bannerFadeIn 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .banner-slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 50%;
  }
  
  .banner-slider-button:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .banner-slider-button.left {
    left: 10px;
  }
  
  .banner-slider-button.right {
    right: 10px;
  }  
  
  .dots-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .light .dot {
    background-color: var(--dark-text);
  }

  .dark .dot {
    background-color: var(--text);
  }
  
  .dot.active {
    background-color: #fff; 
  }  
  
  @keyframes bannerFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @media (max-width: 768px) {
    .banner-slider-content {
      height: 250px;
    }
    .banner-slider-button {
      padding: 8px;
    }
  }
  
