.modal {
    position: absolute;
    z-index: 100;    
    border-radius: 10px;    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.dark .modal{
    background-color: var(--dark-background);
    color: var(--dark-text);
    opacity: 0.9;
}

.light .modal{
    background-color: var(--background);
    color: var(--text);
    opacity: 0.9;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
    border: 1px solid;
    border-radius: 7px;
}

.close {   
    align-self: flex-end;    
}